@import "variables";
@import "login";
@import "base";
@import "side-bar";
@import "lay-out";
@import "user-form";
@import "pages/user.scss";
@import "pages/add.scss";
*{
    font-family: "Roboto";
    margin: 0;
}
input[type="password"] {
    -webkit-text-security: square; 
    font-family: text-security-square; 
  }
  
  @font-face {
    font-family: 'text-security-square';
    src: url('path-to-font/text-security-square.eot');
    src: url('path-to-font/text-security-square.eot?#iefix') format('embedded-opentype'),
         url('path-to-font/text-security-square.woff2') format('woff2'),
         url('path-to-font/text-security-square.woff') format('woff'),
         url('path-to-font/text-security-square.ttf') format('truetype');
  }
  input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    position: relative;
  }
  