@import "variables";
@import "login";
@import "base";
@import "side-bar";
@import "lay-out";
@import "user-form";
@import "pages/user.scss";
@import "pages/add.scss";
*{
    font-family: "Roboto";
    margin: 0;
}
elect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;}