
$sidebar-width: 281px;
$font-family: "Roboto";
$transition-speed: 0.3s;

// _sidebar.scss
.sidebar {
    width: $sidebar-width;
    height: 100vh;
    background: var(--Pastel-Blue, #E8F8F8);
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding:30px 0;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    .logo {
       
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 25px;
        margin-bottom: 17px;
        img {
            height: 24px;
         
        }   
        
    }
    
    .user-profile {
       
        display: flex;
        align-items: center;
        cursor: pointer;
        margin:20px 0;
        padding: 0 25px;
        &:hover {
            background-color: white;
        }
        
        .user-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: var(--Gradient-for-side-active-bar, linear-gradient(266deg, #60CEDD 0%, #09A8BE 100%));;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
        
        .user-info {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .user-name {
                font-size: 20px;
                margin-left: 15px;
                font-weight: 400;
                color: var(--Dark-Grey, #44424B);
            }
            
        }
    }
    
    .divider {
        padding: 15px 25px;
        background-color: #E8F8F8;
        font-weight: 500;
        letter-spacing: 0.5px;
        display: flex
    ;
        color: var(--Grey, #808080);
        font-family: Roboto;
        font-size: 18px;
        gap: 5px;
        align-items: center;
        &::after {
            content: "";
            display: block;
            width:45%;
            border-bottom: 1px solid #808080;
        }
        small{
            font-size: 12px;
        }
    }
    
    .nav-menu {
        flex: 1;
        padding-right:20px;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 20px;
            flex-direction: column;
            margin-top:20px;
            .nav-item {
                a {
                    height: 50px;
                    padding: 15px 25px;
                    display: flex;
                    align-items: center;
                    color: $text-color;
                    text-decoration: none;
                    align-self: stretch;
                    position: relative;
                    gap:15px;
                    
                  
                    
                    h3 {
                        flex: 1;
                        color: var(--Dark-Grey, #44424B);
                        margin:0;
                        /* H3 */
                        font-family: "Roboto";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    
                    &:hover {
                        background-color: white;
                    }
                }
                
                &.active {
                    border-radius: 0px 50px 50px 0px;
                    background: var(--Gradient-for-side-active-bar, linear-gradient(266deg, #60CEDD 0%, #09A8BE 100%));
                    a {
                       color: white;
                        h3{
                            color:white;
                        }
                        i:not(.arrow) {
                            color: white;
                        }
                        svg{
                            path{
                                fill: white;
                            }
                        }
                    }
                }
            }
        }
    }

  
}
.burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
@media screen and (max-width:768px){
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
    
        height: 100vh;
        z-index: 1000;
      }
    
      .sidebar.active {
        transform: translateX(0);
      }
    
      .main-content {
        margin-left: 0;
      }
    
      .burger-menu {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 10;
        color: #333;
      }
    
      /* Optional overlay */
      .sidebar-overlay {
        content: "";
        display: none;
        position: fixed;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 900;
      }
    
      .sidebar-overlay.active {
        display: block;
      }
}